@charset "UTF-8";

body {
	font-family: Helvetica, Arial, sans-serif;
}

div,p,body,header,footer,section,article,nav,h1,h2,h3,h4 { 
margin: 0; 
padding: 0; 
text-align: center;
} 

.hidden {
	display: none;
}

.bodyCon {
	width: 960px;
	color: white;
	margin: 0 auto;
}

.bodyCon h2 {
	font-size: 20px;
}

.bodyCon h3 {
	font-size: 18px;
}

.mainHeader {
	width: 960px;
	height: 100px;
	margin: 20px 0px 30px 0px;
}

.subNav {
    width: 290px;
    height: 40px;
    background-color: #555434;
}

.mainNav {
	width: 640px;
	height: 45px;
	margin: 15px 0px 0px 0px;
	background-color: #23550b;
}

.logo {
	width: 250px;
	height: 100px;
	background-color: #f0aeae;
    float: right;
}


/*-- Open Main Section --*/

.hero {
	width: 960px;
	height: 300px;
	margin: 30px 0px;
}

.mainImage {
	width: 200px;
	height: 300px;
	background-color: #3c4209;
}

.mainImageDesc {
	width: 700px;
	height: 300px;
	background-color: #75687a;
	float: right;
}

.subHero {
	width: 960px;
	height: 210px;
	background-color: #3a5445;
}

#promoArea {
	width: 960px;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 45px;
}

#snsArea {
	width: 330px;
	height: 50px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

.snsbox {
	background-color: #e0b1cf;
	width: 100px;
	height: 50px;
}

.promoText {
	background-color: #251e40;
	width: 330px;
	height: 310px;
}

.promoImg {
	background-color: #c7d6dc;
	width: 580px;
	height: 400px;
	float: right;
	vertical-align: middle;
}

/*-- Close Main Section --*/

/*-- Footer section --*/

.footer {
	background-color: #442916;
	width: 980px;
	height: 45px;
	margin-top: 40px;
	margin: 0 auto;
	padding: center;
	color: white;
}

.footer h2 {
	font-size: 20px
}
